OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENAI_CHAT_MODEL=
OPENAI_CHAT_OPTIONS.chatCompletionModel=
OPENAI_CHAT_OPTIONS.maxTokens=
SERVER_PORT=
PINECOME_API_KEY=

GEMINI_API_KEY=
GEMINI_API_KEY_LIST=

CLIENT_ID=
CLIENT_SECRET=
