# ========== application.properties =============
OPENAI_API_KEY=
OPENAI_BASE_URL=

PORT=8081

PINECOME_API_KEY=

GEMINI_API_KEY=
GEMINI_API_KEY_LIST=  # a list of api keys, seperated by comma


# ========== application.yml =============
CLIENT_ID=
CLIENT_SECRET=
